.tables-container {
    margin-left: 220px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.pagination {
    margin: 20px 0;
}

.pagination button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: none;
}

@media (max-width: 768px) {
    table {
        display: none;
    }
}
